A97C75_1109/xPathA97C75/studentA97C75.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/studentA97C75" xmlns:tns="http://www.example.org/studentA97C75" elementFormDefault="qualified">
	<xs:element name="class">
		<xs:element name="student">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="vezeteknev" type="xs:string" />
					<xs:element name="keresztnev" type="xs:string" />
					<xs:element name="becenev" type="xs:string" />
					<xs:element name="kor" type="xs:integer" />
				</xs:sequence>
				<xs:attribute name="id" type="xs:string" /> 
			</xs:complexType>
		</xs:element>
	</xs:element> 
</schema>