XMLTaskA97C75/elsofeladatA97C75/XMLSchemaA97C75.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="gyogyszertar_adatok">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="raktarak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="raktar" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cim" maxOccurs="unbounded" minOccurs="1">
                                        	<xs:complexType>
                                        		<xs:sequence>
                                        			<xs:element type="xs:short" name="iranyitoszam"/>
                                        			<xs:element type="xs:string" name="varos"/>
                                        			<xs:element type="xs:string" name="utca"/>
                                        			<xs:element type="xs:short" name="hazszam"/>
                                        		</xs:sequence>
                                        	</xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="nev" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="RID"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="gyogyszertarak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gyogyszertar" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cim" maxOccurs="unbounded" minOccurs="1">
                                        	<xs:complexType>
                                        		<xs:sequence>
                                        			<xs:element type="xs:short" name="iranyitoszam"/>
                                        			<xs:element type="xs:string" name="varos"/>
                                        			<xs:element type="xs:string" name="utca"/>
                                        			<xs:element type="xs:string" name="hazszam"/>
                                        		</xs:sequence>
                                        	</xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="nev" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="GysztID"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="gyogyszertarvezetok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gyogyszertarvezeto" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cim" maxOccurs="unbounded" minOccurs="1">
                                        	<xs:complexType>
                                        		<xs:sequence>
                                        			<xs:element type="xs:short" name="iranyitoszam"/>
                                        			<xs:element type="xs:string" name="varos"/>
                                        			<xs:element type="xs:string" name="utca"/>
                                        			<xs:element type="xs:string" name="hazszam"/>
                                        		</xs:sequence>
                                        	</xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="nev" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="GyvID"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="dolgozok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dolgozo" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="cim" maxOccurs="unbounded" minOccurs="1">
                                        	<xs:complexType>
                                        		<xs:sequence>
                                        			<xs:element type="xs:short" name="iranyitoszam"/>
                                        			<xs:element type="xs:string" name="varos"/>
                                        			<xs:element type="xs:string" name="utca"/>
                                        			<xs:element type="xs:string" name="hazszam"/>
                                        		</xs:sequence>
                                        	</xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="nev" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="DID"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="gyogyszerek">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gyogyszer" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="receptre_kaphato"/>
                                        <xs:element type="xs:string" name="hatoanyag"/>
                                        <xs:element type="xs:string" name="tipus"/>
                                        <xs:element type="xs:string" name="nev"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="GyszID"/>
                                </xs:complexType>
                            </xs:element>    
                        </xs:sequence>
                   	</xs:complexType>
               	</xs:element>

                <xs:element name="vasarlok">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="vasarlo" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nev"/>
                                        <xs:element type="xs:string" name="haziorvos"/>
                                        <xs:element type="xs:string" name="gyogyszererzekenyseg"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:int" name="VID"/>
                                </xs:complexType>
                            </xs:element>    
                        </xs:sequence>
                   	</xs:complexType>
               	</xs:element>

                <xs:element name="gyogyszertar-raktar">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="szallitas" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:date" name="datum" />
                                        <xs:element type="xs:string" name="fuvarozo_ceg" />
                                        <xs:element type="xs:int" name="osszeg" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="GysztID" />
                                    <xs:attribute type="xs:short" name="RID" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="gyogyszertar-vasarlo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="vasarlas" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:int" name="osszeg" />
                                        <xs:element type="xs:string" name="fizetesi_mod" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="GysztID" />
                                    <xs:attribute type="xs:int" name="VID" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="vasarlo-gyogyszer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="betegseg" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="panasz" />
                                    </xs:sequence>
                                    <xs:attribute type="xs:int" name="VID" />
                                    <xs:attribute type="xs:int" name="GyszID" />
                            	</xs:complexType>
                           	</xs:element>
                       	</xs:sequence>
                  	</xs:complexType>
              	</xs:element>
				
				<xs:element name="gyogyszertar-gyogyszertarvezeto">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="vezetes" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute type="xs:string" name="GyvID" />
                                    <xs:attribute type="xs:int" name="GysztID" />
                            	</xs:complexType>
                           	</xs:element>
                       	</xs:sequence>
                  	</xs:complexType>
              	</xs:element>
				
				<xs:element name="dolgozo-gyogyszertarvezeto">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="alkalmazott" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute type="xs:string" name="GyvID" />
                                    <xs:attribute type="xs:string" name="DID" />
                            	</xs:complexType>
                           	</xs:element>
                       	</xs:sequence>
                  	</xs:complexType>
              	</xs:element>
              	
            </xs:sequence>
        </xs:complexType>
	</xs:element>
</xs:schema>
                
                